server:
  port: 8083 # Auth service runs on port 8083

app:
  security:
    jwt-secret: "5367566B59703373367639792F423F4528482B4D6251655468576D5A71347437"

spring:
  application:
    name: wallet-auth-service
  datasource:
    url: jdbc:postgresql://localhost:5432/wallet_db
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver
  sql:
    init:
      mode: always
  data:
    redis:
      host: localhost
      port: 6379

mybatis:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

grpc:
    server:
        port: 9090